.venv
__pycache__/
*.pyc

events.txt

# Ignore FFmpeg builds
ffmpeg-*/
ffmpeg*/
ffmpeg-2025-12-07-git-c4d22f2d2c-full_build/

# Ignore large media/video
*.mp4
*.avi
*.mov
*.mkv

# Ignore compressed archives
*.zip
*.7z

# Allow model file
!yolov8n.pt
